@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<header>
    <nav class="navbar navbar-expand-lg app-navbar fixed-top" id="topNav">
        <div class="container-fluid page-container">
            <a class="navbar-brand"
               asp-controller="@(User.IsInRole("Admin") ? "Dashboard" : "Home")"
               asp-action="Index">
                Училищна библиотека „Обрешков“
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
                <ul class="navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Начало</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Читатели
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Clients" asp-action="Index">Всички читатели</a></li>
                                <li><a class="dropdown-item" asp-controller="Clients" asp-action="Create">Регистриране</a></li>
                                <li><a class="dropdown-item" asp-controller="Clients" asp-action="PasswordResetRequests">Заявки за пароли</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Книги
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Book" asp-action="Index">Всички книги</a></li>
                                <li><a class="dropdown-item" asp-controller="Book" asp-action="Create">Добавяне</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Категории
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Categories" asp-action="Index">Всички категории</a></li>
                                <li><a class="dropdown-item" asp-controller="Categories" asp-action="Create">Добавяне</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Archive" asp-action="Index">Архив</a>
                        </li>
                    }
                    else if (User.IsInRole("Student"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Catalog" asp-action="Index">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="StudentAccount" asp-action="ChangePassword">Смяна на парола</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Catalog" asp-action="Index">Каталог</a>
                        </li>
                    }
                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>