<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ObreshkovLibrary</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ObreshkovLibrary.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom w-100">
            <div class="container-fluid px-0">
                <div class="d-flex align-items-center px-3 w-100">
                    <a class="navbar-brand fw-semibold"
                       asp-controller="Home"
                       asp-action="Index">
                        Ученическа библиотека „Обрешков“
                    </a>
                    <button class="navbar-toggler ms-auto"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#mainNavbar"
                            aria-controls="mainNavbar"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNavbar">
                        <ul class="navbar-nav ms-auto">

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Home"
                                   asp-action="Index">
                                    Начало
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Читатели
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Clients"
                                           asp-action="Create">
                                            Регистриране
                                        </a>
                                    </li>

                                    <li><hr class="dropdown-divider" /></li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Clients"
                                           asp-action="Index">
                                            Списък / Редактиране
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Clients"
                                           asp-action="Index">
                                            Деактивиране
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="BookTitles"
                                   asp-action="Index">
                                    Книги
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Categories"
                                   asp-action="Index">
                                    Категории
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Loans"
                                   asp-action="Index">
                                    Заеми
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2026 – ObreshkovLibrary
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
