<nav class="top-strip">
    <div class="container top-strip-inner">
        <a class="top-strip-brand" asp-controller="Home" asp-action="Index">
            Библиотека Обрешков
        </a>

        <div class="top-strip-right">
            <a asp-area="Identity" asp-page="/Account/Login" class="top-strip-login">Вход</a>
        </div>
    </div>
</nav>