@page
@model ObreshkovLibrary.Areas.Identity.Pages.Account.ForgotPasswordModel

@{
    Layout = null;
    ViewData["Title"] = "Забравена парола";

    bool isAdmin = Model.Input.Role == "Admin";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <partial name="_ValidationScriptsPartial" />
</head>

<body>

    <div class="wrapper">

        <div class="card">

            <h1 class="title">Забравена парола</h1>
            <div class="accent"></div>

            @if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
            {
                <div class="status">
                    @Model.StatusMessage
                </div>
            }

            <form method="post">

                @Html.AntiForgeryToken()

                <input asp-for="Input.Role" type="hidden" />

                @if (isAdmin)
                {
                    <div class="subtitle">
                        Въведете служебния имейл за заявка за възстановяване.
                    </div>

                    <label asp-for="Input.Email">Имейл</label>

                    <input asp-for="Input.Email"
                           placeholder="admin@obreshkov.bg" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                }
                else
                {
                    <div class="subtitle">
                        Попълнете данните си за заявка за нова парола.
                    </div>

                    <label asp-for="Input.CardNumber">
                        Номер на читателска карта
                    </label>

                    <input asp-for="Input.CardNumber"
                           placeholder="Само цифри" />

                    <span asp-validation-for="Input.CardNumber" class="text-danger"></span>


                    <label asp-for="Input.PhoneNumber">
                        Телефонен номер
                    </label>

                    <input asp-for="Input.PhoneNumber"
                           placeholder="08XXXXXXXX" />

                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                }

                <div class="buttons">

                    <button type="submit"
                            class="btn-primary">
                        Изпрати заявка
                    </button>

                    <a asp-area="Identity"
                       asp-page="/Account/Login"
                       asp-route-role="@Model.Input.Role"
                       class="btn-secondary">
                        Назад
                    </a>

                </div>

            </form>

        </div>

    </div>

</body>
</html>